<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathanashcraft.pinnacleconnection">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pinnacle_logo"
        android:label="Pinnacle Connection"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:minSdkVersion="8"
        android:theme="@style/AppTheme">

        <!-- I believe this is the activity that the app starts with -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- List of other activity -->
        <activity android:name=".TheaterRequestActivity" />

        <activity
            android:name=".RequestMaintenance"
            android:label="Problems?" />

        <activity
            android:name=".MainActivity"
            android:label=" Announcements"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MessagingActivity"
            android:screenOrientation="portrait"
            android:label="Messages"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".CreateAnnouncement"
            android:screenOrientation="portrait"
            android:label="Create an Announcement"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CreateProfile"
            android:screenOrientation="portrait" />

        <activity android:name=".ContactList" />

        <activity
            android:name=".ViewMaintenanceRequests"
            />

        <service
            android:name=".TokenAccess">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MessagingActivityService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>